/* Structure */
body {

    background-color: indianred;
}

#content {

}



/* Navigation */

/* Tables */
table {
    border-collapse: collapse;
}
th,
td {
    border: 1px solid;
    padding: 10px;
}
th {
    background: firebrick;
}
td {
    background: azure;
}

/* Typography */
h1{
    color: azure;
    text-align: center;
}
h2 {
    color: azure;
    text-align: left;
}


/* Images */
img {
    padding:10px;
    border: 5px solid crimson;
    border-radius: 5px;
    width: 200px;
    height: auto;
}