/* Main Structure */
body {
    margin:0;
    
}

.section1{
    width:100%;
    
}

.section1 {
    position: relative;
}

.education {
    position: absolute;
    bottom: -30px;
    right: 20px;
    background: #75000A;
    padding: 36px;
    font-weight: bold;
    font-size: 35px;
    width: 40%;
    max-width: 520px;
    color: white;
    border-radius: 2px;
}
.left-box {
    position: absolute;
    bottom: -30px;
    left:20px;
    background:#75000A;
    padding: 36px;
    font-weight: bold;
    font-size: 35px;
    width: 40%;
    max-width: 520px;
    color: white;
    border-radius: 2px;
}

.edu-text {
    font-size: 14px;
    font-weight: bold;
}

.button button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid white;
    background: black;
    color: white;
    padding: 10px 15px 10px 15px;
}

.button button:after {
    content: ' \00BB';
}

.blocks {
    display: flex;
    gap: 40px;
    margin-top: 70px;
    padding-left: 120px;
    padding-right: 120px; 
}

.block {
    width:35%;
}

.block h3 {
    color: #75000A;
    font-size: 25px;
    font-weight: bold;

}

.block h3:after {
    content: ' \00BB';
}

.block p {
    color: black;
    font-size: 15px;
}

.block img {
    display: block;
    width: 100%;
}

.section3 {
    background: #EDEDED;
}

.section3 h1 {
    color:#75000A;
    text-align: center;
    font-size: 70px;
    font-weight: bold;

}

.section3 p {
    color: black;
    text-align:center;
    font-size: 18px;
    

}
.bottom-buttons {
    display: flex;
    justify-content: center;
    
}

.bottom-buttons button{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid white;
    background:#75000A;
    color: white;
    padding: 10px 15px 10px 15px;
    
}

.bottom-buttons button{
    border: 3px solid white;
}

.bottom-buttons button::after {
    content: ' \00BB';
}

.textBox p {
    font-weight: bold;
    text-align: center;
    padding: 100px;
    margin: 26px;
    word-wrap: normal;
    font-size: 22px;
    /*Top Right Bottom Left */
    padding: 10px 30px 10px 30px;
    
}

#circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

#quote {
    display: flex;
    align-items: center;
    gap: 40px;
    /* Top Right Bottom Left */
    padding: 40px;
    
}

#quote p {
    font-weight: bold;
    font-size: 20px;
}

.quote .textbox {
    display:flex;
    align-items: center;
    gap: 30px;
    padding: 32px;
    max-width: 900px;
    margin: 0 auto;
}

.quote .textbox p {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    color: #750109;
}

.textbox {
    display: flex;
    align-items: center;
    gap: 30px;
}

#credit {
    color:black;
    font-size: 14px;
    margin-top: 15px;
}

 #circle img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    display:block;
}

/* Square */
.box {
    background:#750109;
    
}


/* Header */
#main-header {
    background:#000000;
    position:relative;
    padding-top:0;
    display:flow-root;
}

#header {
    color: white;
    text-align: right;
    font-size: 26px;
    padding-right: 25px;
    padding-bottom: 1px;
    
    
}

#top-nav {
    top: 0;
    left: 1%;
    padding-left: 25px;
    padding-top: 0px;
    display:none;
   
}

#top-nav li:not(:last-child)::after {
    content:"  |  ";
    color:white;
}

#top-nav li {
    display: inline;
}

#logo {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 1%;
}


#logo p {
    color:white;
    

}

#logo h2 {
    color: white;
}

#page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 1%;
}

#header {
    color:white;
    margin: 0;
    font-size: 48px;
}

/* Images */ 
#logo img {
    height: 60px;
    
}

.section1 img {
    width: 100%;
    height: auto;
    display: block;
}

/* Square */
.area {
    background: #75000A;
    position: relative;
}




/* Navigation */
nav ul {
    padding-left:0; /*removes indentation */
    
}

nav li {
    list-style-type: none;
    background: black;
    padding:0 2px;

}

#top-nav a {
    text-decoration: none;
    font-size: 11px;
    line-height: 1;
    padding-top:2px;
    color:white;
    font-weight: bold;
}

#main-nav ul {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #750109;
    display: flex;
    justify-content: flex-end;
    gap: 25px;

}

#main-nav li {
    list-style-type: none;
    
    
    

}

#main-nav {
    background:#750109;
    margin-bottom: 0;
    padding-bottom: 1px; 
    padding-right: 3%;
    
    
    

    
}

#main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#main-nav li:not(:last-child)::after {
    content:"    ";
    color:white;
}

/*Footer */
.footer {
    background:#EDEDED;
    padding: 40px 0;
}

.footer-top {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-top h2 {
    font-weight: bold;
    color:#75000A;
}

.footer-top a {
    text-decoration: none;
    color:#75000A;
    font-weight: bold;
}

.footer-list {
    list-style: none;
    display: flex;
    gap: 30px;
    border-left: 1px solid gray; 
    padding-left: 1px;
    margin: 0;
    text-transform: uppercase;
}

.footer-list li {
    margin-bottom: 10px;
    list-style: none;
}

.footer-button {
    background: black;
    color: white;
    padding: 8px 14px;
    border: 4px solid white;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-button button::after {
    content: ' \00BB';
    color:#75000A;
    font-weight: bold;
}



.footer-list li::after {
    content: ' \00BB';
    color:#75000A;
    font-weight: bold;
}

.footer-bottom {
    background:#75000A;
    color: white;
    padding: 50px 0;
}

.bottom-lists {
    display: flex;
    margin: auto;
    width:70%;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
}


.footer-col h4 {
    display: inline-block;
    margin: 0 0 12px 0;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-bottom: 2px solid white
}

.footer-col {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
}


.footer-bottom ul {
    list-style: none;
    padding: 0;
    margin: 12px 0 0 0;
}



.footer-bottom li {
    margin-bottom: 10px;
}

.bottom-lists a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-end {
    text-align: center;
    background: black;
    padding: 15px 0;
    
}

.footer-end ul {
    list-style: none;
    margin: 0;
    padding:0;
}

.footer-end li {
    color: white;
    font-size: 15px;
    display:inline;
    margin: 0 6px;
}

.footer-end a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
}

.footer-end li:not(:last-child)::after {
    content: "   | ";
}




/* Typography */



/* Larger Devices */
@media (min-width: 768px) {
    #content {
        
    }

    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 1;
    }

    .three {
        flex: 1;
    }

    .four {
        flex: 1;
    }
    
    
    nav ul {
        display:flex;
    }

    nav li {
        background:transparent;
        flex:none;
    }

    #top-nav {
        display: block;
    }
}