/* Main Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:steelblue;
}

#main-content {
    margin: auto /*centers*/

}

#main-header {
    background: darksalmon;
}


/* Navigation */
#main-nav ul {
    padding-left:0; /*Removes indentation */
}

#main-nav li {
    list-style-type: none; /*Removes bullets */
    background: indianred; 
    padding:5px;
    border-bottom:1px solid maroon;
}

#main-nav a {
    text-decoration: none;
    color:azure;
}

#main-nav a:hover {
    color: orangered;
}

#gallery section {
    background: powderblue;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    width: 120px;
    
}

#gallery {
    align-items: flex-end;
    display:flex;
    justify-content: space-between;
}

.text {
    width: 30%;
}

/* Typography */
#main-header {
    text-align: center;
    padding-top: 10px;
    color: azure;
}

/* Larger Devices */
@media (min-width: 900px) {
   
    .columns {
        display:flex;
    }

    
    .one {
        flex:2=4;
    }
    
    .two {
        flex:4;
    }

    .three {
        flex:4;
    }

    .four {
        flex:4;
    }
    
    
    
    
    
    
    #main-nav ul {
        background: indianred;
        display:flex;
    }

    #main-nav li {
        background: transparent;
        flex: 1;
    }
}