/* Main Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:steelblue;
    margin: 0;
}

#main-content {
    margin: auto /*centers*/

}

#main-header {
    background: darksalmon;
}

#firstSection {
    display: flex;
    align-items: stretch;
}


#titlesSection {
    display:flex;
    flex: 1;
    align-items: center;
    padding: 10px 20px 20px 10px;
    gap: 18px;
}

.titleBox {
    flex: 1;
}

.title {
    background-color:powderblue;
    color:azure;
    text-align: center;
    font-weight: bold;
    padding: 8px 0;
}


.titleImg img {
    display: block;
    width: 200px;
    height: 300px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Navigation */
#main-nav ul {
    padding-left:0; /*Removes indentation */
}

#main-nav li {
    list-style-type: none; /*Removes bullets */
    background: indianred; 
    padding:5px;
    border-right:2px solid white;
}

#main-nav a {
    text-decoration: none;
    color:azure;
}

#main-nav a:hover {
    color: orangered;
}

#gallery section {
    background: powderblue;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    width: 120px;
    
}

#gallery {
    align-items: flex-end;
    display:flex;
    justify-content: space-between;
}

.text {
    width: 30%;
}

/* Typography */
#main-header {
    text-align: center;
    padding-top: 10px;
    color: azure;
}

#importantText {
    flex:1;
    color: azure;
    padding: 70px 20px;
    font-weight: bold;
    
}

.idea {
    border-top: 7px solid steelblue;
    display:flex;
}

.idea1  .space1{
    background-color: powderblue;
    width: 800px;
}

.space1 {
    background-color: cornflowerblue;
    width: 800px;
}

.idea1 .ideaImg {
    width:200px;
    background-color:powderblue;
}

.ideaImg2 {
    width:200px;
    background-color:cornflowerblue;
}

.ideaTitle {
    padding-left:10px;
    background-color:powderblue;
    color:azure;

    
}

.ideaName {
    font-weight: bold;
}

.idea2 .space2 {
    width:800px;
    background-color:cornflowerblue;
    
}

.ideaTitle2 {
    padding-left:10px;
    background-color:cornflowerblue;
    color:azure;
}

#footer {
    color:azure;
    font-weight:bold;
    text-align:center;
    background-color:indianred;
    height:70px;
    padding:10px 200px 10px 200px;
    border-top: 7px solid steelblue;
    
}



/* Larger Devices */
@media (min-width: 700px) {
   
    .columns {
        display:flex;
    }

    
    .one {
        flex:4;
    }
    
    .two {
        flex:4;
    }

    .three {
        flex:4;
    }

    .four {
        flex:4;
    }
    
    
    
    
    
    
    #main-nav ul {
        background: indianred;
        display:flex;
    }

    #main-nav li {
        background: transparent;
        flex: 1;
    }
}