/* Main Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:steelblue;
}

#main-content {
    width:80%;
    margin: auto /*centers*/

}


/* Navigation */
#main-nav ul {
    padding-left:0; /*Removes indentation */
}

#main-nav li {
    list-style-type: none; /*Removes bullets */
    background: indianred; 
    padding:5px;
    border-bottom:1px solid maroon;
}

#main-nav a {
    text-decoration: none;
    color:azure;
}


/* Typography */
#main-header {
    text-align: center;
    padding-top: 10px;
    color: azure;
}