
body {
  background-image: url("images/homebg.png");
  background-size: cover;
  margin: 0;
  font-family: sans-serif;
  color: white;
}


#main-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}



#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#main-header h1 {
  margin: 0;
  text-decoration: underline;
  text-decoration-color: red;
}

a{
  text-decoration: none;
  color: white;
}


.tabs {
  list-style: none;
  display:flex;
  margin: 0;
  padding: 0;
  width: 100%;
}


.tabs li {
  border-bottom: 1px solid black;
}


.tabs a {
  display: block;              
  padding: 12px 16px;
  background: black;
  color: white;
  text-decoration: none;
  font-weight: bold;
  
}


.tabs a:hover {
  background: gray;
}




#welcome-desc h3 {
  text-align: center;
  color: red;
  margin-top: 40px;
}

#welcome-desc p {
  text-align: center;
}


.song-card {
  display: block;                 
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.card-left {
  text-align: center;
  margin-bottom: 15px;
}

.track-rank {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.album-cover {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card-right {
  text-align: center;
}

.song-title {
  margin: 0;
  font-size: 22px;
}

.artist-name {
  margin: 5px 0;
  color: silver;
}

.desc {
  font-style: italic;
  font-size: 13px;
  color: gray;
  margin: 10px 0;
}

.song-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 13px;
  color: gray;
}

/*for smaller screens*/
@media (min-width: 700px) {

  
  .song-card {
    display: flex;
    gap: 24px;
    align-items: flex-start;
  }

  .card-left {
    flex: 0 0 120px;
    margin-bottom: 0;
  }

  .card-right {
    flex: 1;
    text-align: left;
  }

  .song-info {
    justify-content: flex-start;
  }

  #main-header h1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .tabs ul {
    align-items: flex-end;
  }

  



}




  



