/* Main Structure */
:root {
    
    /*--main-background: #16142E;*/

}

body {
    /*background: var(--main-background);*/
    background-image: url("images/homebg.png");
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    
}

#main-header h1 {
    color: azure;
    text-align: left;
    /*background: #16142E;*/
    text-decoration: underline;
    text-decoration-color: red;
    
}

#welcome-desc h1 {
    text-align: center;
    color: azure;
    font-weight: bold;
}

#welcome-desc p {
    color: azure;
    text-align:center;
}

.mid-boxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

#box1 {
    width: 250px;
    height: 150px;
    background-color: #16142E;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding-top: 0px;
    border: 3px solid orange;
}

#box2 {
    width: 250px;
    height: 150px;
    background-color: #16142E;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding-top: 0px;
    border: 3px solid cornflowerblue;
}

#box3 {
    width: 250px;
    height: 150px;
    background-color: #16142E;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding-top: 0px;
    border: 3px solid #9A4EFF;
}

#box1 h3 {
    font-weight: bold;
    color: orange;
    
}

#box2 h3 {
    font-weight: bold;
    color: cornflowerblue;
}

#box3 h3 {
    font-weight: bold;
    color: #9A4EFF;
}

#box p {
    font-size: 10px;
}

#featured-artists h2 {
    text-align: center;
    color: azure;
}

.artist-pics img {
    border-radius: 15px;
}

.artist-pics h4 {
    color:azure;
    text-align: center;
    font-weight: normal;
}

.artists {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.glass-box {
    width: 800px;
    padding: 40px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    /*-webkit-backdrop-filter: blur(15px);*/

    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px rgba(0,0,0,0.4);
}