body {
        background-color: cornflowerblue;
        color: black;
        font-family: "Audiowide", sans-serif;
       }

a {
        text-decoration: none;
        color:lightseagreen;
}
#content {
        font-family: "Audiowide", sans-serif;
        background-color: azure;
        width:95%;
        padding:2%;
        border-radius:5px;
        margin:auto;
        border-style: solid;
        border-color:darkblue;
}

#assignments {
        align-items: center;
}

#header {
        align-items:center;
        color: black;
}