body {
    background-color: cornflowerblue;
}

#main-header {
    text-align: center;
}

#main-header h1 {
    color: azure;
}

#main-header h3{
    color: maroon;
}

#menu-toggle {
    display: block; 
    cursor: pointer;
    text-align: left;
    padding: 10px;
}
#selection {
    display: none;
}

#selection ul {
    display: flex;
    justify-content: center;
    color: azure;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    align-items: flex-start;
}

#selection li {
    list-style-type: none;
}

#selection a {
    text-decoration: none;
    padding: 0 15px;
    color: azure;
}

#selection li:not(:last-child)::after {
    content: "  |  ";
    
}

#box1, #box2 {
    display: none;
    text-align: center;
    justify-content: center;
}

#box1 h2 {
    color: darkblue;

}

#box2 h2 {
    color: darkred;
}

/*Larger Screens */
@media (min-width: 768px) {
    #selection {
        display: block;
    }

    #menu-toggle {
        display: none;
}

    #selection ul {
        flex-direction: row;
        justify-conntent: center;
    }

    
}